# FRONTEND
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.vite/
frontend/*.zip

# BACKEND
backend/config/mail.php
backend/.env
backend/vendor/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.tmp
*.log