.layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center -150px, center top;
	background-image: url('/images/cars.png'), url('/icons/header.svg');
	background-size: 100% auto, 100% auto;
}

.main {
	width: 100%;
	padding-top: 50px;
}

.motionDiv {
	display: flex;
	flex-direction: column;
	gap: 110px;
}
