.container {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.toast {
	padding: 15px 20px;
	border-radius: 16px;
	color: var(--white);
	background: var(--black);
	animation: fadeIn 0.2s ease-out;
	font-size: 18px;
	font-weight: 500;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.success {
	background: #3cb371;
}

.error {
	background: #e74c3c;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 959px) {
	.container {
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		right: unset;
		padding: 0 20px;
	}

	.toast {
		font-size: 16px;
		padding: 10px 10px;
	}
}
