.footer {
	width: 100%;
	margin-bottom: 90px;
}

.wrapper {
	max-width: 575px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 0 20px;
}

.text {
	letter-spacing: -0.3px;
	font-size: 17px;
	font-weight: 500;
	opacity: 0.45;
}

.link {
	letter-spacing: -0.3px;
	font-size: 14px;
	font-weight: 500;
	opacity: 0.45;

	&:hover {
		text-decoration: underline;
	}
}

@media (max-width: 959px) {
	.footer {
		margin-bottom: 25px;
	}
}
