@import './normalize.css';
@import './fonts.css';

:root {
	--font: 'Inter', sans-serif;
	--white: #fff;
	--black: #000;
	--green: #71d389;
	--green-dark: #006c0c;
	--blue: #3a55b4;
}

html {
	font-family: var(--font);
}
