.layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 100px;
	background-color: var(--gray);
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 110px;
	padding-top: 50px;
}

@media (max-width: 959px) {
	.layout {
		gap: 80px;
	}

	.main {
		padding-top: 0;
	}
}
