.section {
	max-width: 575px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 35px;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 20px;
}

.heading {
	text-align: center;
}

.action {
	margin: 0 auto;
	max-width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 24px;
	border-radius: 64px;
	background-color: var(--blue);
	color: var(--white);
	box-shadow: var(--shadow-nav);
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	transition: 0.35s opacity ease-in-out;
}
