.input {
	font-family: var(--font);
	width: 100%;
	border: none;
	background: var(--gray);
	padding: 32px;
	border-radius: 64px;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
	text-align: center;

	&[aria-invalid='true'] {
		border: 2px solid red;
	}

	&[aria-invalid='false'] {
		border: 2px solid transparent;
	}
}
