.header {
	width: 100%;
	position: sticky;
	top: 45px;
	z-index: 10;
}

.nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 24px;
	border-radius: 64px;
	background-color: var(--green);
	box-shadow: var(--shadow-nav);
	font-size: 28px;
	line-height: 28px;
	font-weight: 700;
	transition: 0.35s opacity ease-in-out;

	&:hover {
		opacity: 0.8;
	}

	&.home {
		background: var(--blue);
		color: var(--white);
		padding: 20px 24px;

		img {
			height: 20px;
		}
	}

	&.kp {
		background: var(--white);
		color: var(--black);
	}

	&.wa {
		background: var(--green);
		color: var(--green-dark);
	}
}
