.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-heading {
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
	text-align: center;
	margin-bottom: 32px;
	opacity: 0.65;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 5px;

	span {
		height: 30px;
		font-size: 20px;
		text-align: center;
		font-weight: 500;
		color: #f33;
	}
}
