.section {
	max-width: 575px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 0 20px;
}

.brand-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px 15px;
}

.page-header {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

.subheading {
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
}

.item {
	display: inline-flex;
	padding: 8px 16px;
	border-radius: 64px;
	font-size: 18px;
	font-weight: 600;
	color: #00000067;
	background: var(--white);
}

@media (max-width: 959px) {
	.subheading {
		font-size: 18px;
		font-weight: 500;
	}

	.brand-list {
		gap: 10px;
	}

	.item {
		font-size: 16px;
		padding: 8px 10px;
		border-radius: 16px;
	}
}
