.section {
	max-width: 575px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.card {
	max-width: 80%;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 25px;
	background: linear-gradient(#ff9a41, #ff7509, #ff7509);
	box-shadow: var(--shadow-card);
	border-radius: 64px;
	padding: 48px 32px 0;
	transform: rotate(2deg);
}

.image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;

	img {
		max-width: 215px;
	}
}

.heading {
	color: #fffffff2;
	text-align: center;
}

.paragraph {
	color: #ffffffad;
	text-align: center;
}

.action {
	position: relative;
	width: 100%;
	background: #ff7509;
	border-radius: 32px;
	padding: 35px;
	overflow: hidden;
}

.action-button {
	border-radius: 16px;
	background: #ff7509;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 700;
	box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.2),
		6px 6px 24px 0 rgba(0, 0, 0, 0.3), -2px -2px 4px 0 rgba(0, 0, 0, 0.2) inset,
		2px 2px 4px 0 rgba(255, 255, 255, 0.5) inset;
	color: #fff;
	transition: 0.35s box-shadow ease-in-out;

	&:hover {
		box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.2),
			-6px -6px 24px 0 rgba(0, 0, 0, 0.3),
			2px 2px 4px 0 rgba(0, 0, 0, 0.2) inset,
			-2px -2px 4px 0 rgba(255, 255, 255, 0.5) inset;
	}
}

@media (max-width: 959px) {
	.card {
		max-width: 100%;
		padding: 32px 16px 0;
		border-radius: 32px;
		transform: rotate(1deg);
	}

	.image {
		img {
			max-width: 150px;
		}
	}

	.action {
		padding: 25px;
		border-radius: 16px;
	}

	.action-button {
		font-size: 21px;
		padding: 16px;
		border-radius: 6px;
	}
}
