.section {
	max-width: 575px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 0 20px;
}

.heading {
	text-align: center;
}

.card {
	padding: 64px 32px 32px;
	background: var(--white);
	border: none;
	box-shadow: 0px 36px 52px 0px rgba(0, 0, 0, 0.06);
	border-radius: 64px;
}
